<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbk.knowledge.infrastructure.mapper.chat.ChatSessionMapper">

    <resultMap id="ChatSessionMap" type="com.xbk.knowledge.domain.model.entity.ChatSession">
        <id column="id" property="id"/>
        <result column="owner_user_id" property="ownerUserId"/>
        <result column="title" property="title"/>
        <result column="model_id" property="modelId"/>
        <result column="rag_tags" property="ragTags"/>
        <result column="agent_id" property="agentId"/>
        <result column="agent_version_id" property="agentVersionId"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <insert id="insertSession" parameterType="com.xbk.knowledge.domain.model.entity.ChatSession" useGeneratedKeys="true" keyProperty="id">
        insert into ai_chat_session (
            owner_user_id,
            title,
            model_id,
            rag_tags,
            agent_id,
            agent_version_id,
            created_at,
            updated_at
        ) values (
            #{ownerUserId},
            #{title},
            #{modelId},
            #{ragTags},
            #{agentId},
            #{agentVersionId},
            #{createdAt},
            #{updatedAt}
        )
    </insert>

    <update id="updateSession" parameterType="com.xbk.knowledge.domain.model.entity.ChatSession">
        update ai_chat_session
        set title = #{title},
            model_id = #{modelId},
            rag_tags = #{ragTags},
            updated_at = #{updatedAt}
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from ai_chat_session
        where id = #{sessionId}
    </delete>

    <select id="findById" resultMap="ChatSessionMap">
        select
            id,
            owner_user_id,
            title,
            model_id,
            rag_tags,
            agent_id,
            agent_version_id,
            created_at,
            updated_at
        from ai_chat_session
        where id = #{sessionId}
        limit 1
    </select>

    <select id="findPage" resultMap="ChatSessionMap">
        select
            id,
            owner_user_id,
            title,
            model_id,
            rag_tags,
            agent_id,
            agent_version_id,
            created_at,
            updated_at
        from ai_chat_session
        order by updated_at desc, id asc
        limit #{pageSize} offset #{offset}
    </select>

    <select id="countAll" resultType="long">
        select count(1)
        from ai_chat_session
    </select>

    <delete id="deleteByUpdatedBefore">
        delete from ai_chat_session
        where updated_at &lt; #{updatedBefore}
    </delete>

</mapper>
